body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.bg-light {
    background-color: #ffffff ;
}

.transport-link {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}

.transport-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.transport-link:hover {
    color: #007bff;
}

.list-group-item i {
    color: #007bff;
    margin-right: 10px;
}
